<!DOCTYPE html>
<html>
<head>
  <title>My Fridge</title>
  <!-- Add Bootstrap and Bootstrap-Vue CSS to the <head> section -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>

  <!-- Add Vue and Bootstrap-Vue JS just before the closing </body> tag -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
</head>
<body>
    <div id='app'>
      <b-container class="mt-3">
        <h1>The Fridge</h1>
        <br><br>


        <b-navbar toggleable="sm" variant="primary" type="dark">
          <b-navbar-brand>The Fridge</b-navbar-brand>
          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
          <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
              <b-nav-item v-b-toggle.collapse-1.collapse-2>Fridge Content</b-nav-item>
              <b-nav-item v-b-toggle.collapse-1.collapse-2>Receipes</b-nav-item>
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>


        <b-button-group class="mt-3">
          <b-button variant="success" class="mr-2" v-b-modal.add-item-modal><b-icon icon="plus-square-fill"></b-icon> Add Item</b-button>
          <b-button variant="success" v-b-modal.add-receipe-modal><b-icon icon="plus-square-fill"></b-icon> Add Receipe</b-button>
        </b-button-group>


        <b-collapse visible id="collapse-1" class="mt-3">
          <b-table striped hover :fields="fields" :items="items" responsive="sm">
            <!-- A virtual column -->
            <template #cell(id)="data">
              {{ data.index + 1 }}
            </template>

            <!-- A custom formatted column -->
            <template #cell(item_name)="data">
              {{ data.item.item_name }}
            </template>

            <!-- A virtual composite column -->
            <template #cell(quantity_unit)="data">
              {{ data.item.quantity }} {{ data.item.unit }}
            </template>

            <template #cell(actions)="data">
              <item-action v-bind:item="data.item"></item-action>
            </template>
          </b-table>
        </b-collapse>

        <b-collapse id="collapse-2" class="mt-3">
          <b-table ref="receipe_table" striped hover :fields="receipe_fields" :items="getReceipes" responsive="sm">
            <!-- A virtual column -->
            <template #cell(id)="data">
              {{ data.index + 1 }}
            </template>

            <!-- A custom formatted column -->
            <template #cell(item_name)="data">
              {{ data.item.receipe_name }}
            </template>

            <!-- A virtual composite column -->
            <template #cell(cooking_time)="data">
              {{ data.item.cooking_time }} minutes
            </template>

            <template #cell(ingredients)="data">
              <div v-for="ingredient in data.item.ingredients" v-if="hasItem(ingredient)">
                <b-icon icon="check" style="color:green"></b-icon> {{ ingredient }}
              </div>
              <div v-for="ingredient in data.item.ingredients" v-if="!hasItem(ingredient)">
                  <b-icon icon="x" style="color:red"></b-icon>  {{ ingredient }}
              </div>
            </template>

            <template #cell(optional_ingredients)="data">
              <div v-for="ingredient in data.item.optional_ingredients" v-if="hasItem(ingredient)">
                  <b-icon icon="check" style="color:green"></b-icon> {{ ingredient }}
              </div>
              <div v-for="ingredient in data.item.optional_ingredients" v-if="!hasItem(ingredient)">
                  <b-icon icon="x" style="color:red"></b-icon> {{ ingredient }}
              </div>
            </template>

            <template #cell(actions)="data">
              <receipe-action v-bind:receipe="data.item"></receipe-action>
            </template>
          </b-table>
        </b-collapse>

      </b-container>


      <b-modal ref="addItemModal" id="add-item-modal" title="Add Item" @hide="resetButton" hide-footer>
        <b-form @submit.prevent="submitAddItem" @reset="resetAddItem">
          <b-form-group
            id="form-item-name-group"
            label="Item Name"
            label-for="form-item-name-input">
            <b-form-input
              id="form-item-name-input"
              type="text"
              v-model="addItemForm.item_name"
              required
              placeholder="Enter Item Name">
            </b-form-input>
          </b-form-group>

          <b-form-group
            id="form-quantity-group"
            label="Quantity"
            label-for="form-quantity-input">
            <b-form-input
              id="form-quantity-input"
              type="number"
              v-model="addItemForm.quantity"
              required
              placeholder="Enter Quantity">
            </b-form-input>
          </b-form-group>

          <b-form-group
            id="form-unit-group"
            label="Unit"
            label-for="form-unit-input">
            <b-form-input
              id="form-unit-input"
              type="text"
              v-model="addItemForm.unit"
              required
              placeholder="Enter Unit">
            </b-form-input>
          </b-form-group>

          <b-button type="submit" variant="primary" v-if="!updating">Submit</b-button>
          <b-button type="submit" variant="warning" v-else>Update</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
      </b-modal>


      <b-modal ref="addReceipeModal" id="add-receipe-modal" title="Add Receipe" @hide="resetButton" hide-footer>
        <b-form @submit.prevent="submitAddReceipe" @reset="resetAddReceipe">
          <b-form-group
            id="form-receipe-name-group"
            label="Receipe Name"
            label-for="form-receipe-name-input">
            <b-form-input
              id="form-receipe-name-input"
              type="text"
              v-model="addReceipeForm.receipe_name"
              required
              placeholder="Enter Receipe Name">
            </b-form-input>
          </b-form-group>

          <b-form-group
            id="form-cooking-time-group"
            label="Cooking Time"
            label-for="form-cooking-time-input">
            <b-form-input
              id="form-cooking-time-input"
              type="number"
              v-model="addReceipeForm.cooking_time"
              placeholder="Enter Cooking Time (minutes)">
            </b-form-input>
          </b-form-group>

          <b-form-group
            id="form-ingredients-group"
            label="Required Ingredients"
            label-for="form-ingredients-input">
            <b-form-textarea
              id="form-ingredients-input"
              v-model="addReceipeForm.ingredients"
              required
              placeholder="Enter Ingredients">
            </b-form-textarea>
          </b-form-group>

          <b-form-group
            id="form-optional-ingredients-group"
            label="Optional Ingredients"
            label-for="form-optional-ingredients-input">
            <b-form-textarea
              id="form-optional-ingredients-input"
              v-model="addReceipeForm.optional_ingredients"
              placeholder="Enter Optional Ingredients">
            </b-form-textarea>
          </b-form-group>

          <b-button type="submit" variant="primary" v-if="!updating">Submit</b-button>
          <b-button type="submit" variant="warning" v-else>Update</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
      </b-modal>
    </div>

  <script src="app.js"></script>
</body>
</html>
