<!DOCTYPE html>
<html>
<head>
  <title>My Fridge</title>
  <!-- Add Bootstrap and Bootstrap-Vue CSS to the <head> section -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>

  <!-- Add Vue and Bootstrap-Vue JS just before the closing </body> tag -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
</head>
<body>
    <div id='app'>
      <b-container class="mt-3">
        <h1>The Fridge</h1>
        <br><br>

        <b-button variant="success" class="mb-3" v-b-modal.add-item-modal><b-icon icon="plus-square-fill"></b-icon> Add Item</b-button>
        <b-modal ref="addItemModal" id="add-item-modal" title="Add Item" hide-footer>
          <b-form @submit.prevent="submitAddBook" @reset="resetAddBook">
            <b-form-group
              id="form-item-name-group"
              label="Item Name"
              label-for="form-item-name-input">
              <b-form-input
                id="form-item-name-input"
                type="text"
                v-model="addItemForm.item_name"
                required
                placeholder="Enter Item Name">
              </b-form-input>
            </b-form-group>

            <b-form-group
              id="form-quantity-group"
              label="Quantity"
              label-for="form-quantity-input">
              <b-form-input
                id="form-quantity-input"
                type="number"
                v-model="addItemForm.quantity"
                required
                placeholder="Enter Quantity">
              </b-form-input>
            </b-form-group>

            <b-form-group
              id="form-unit-group"
              label="Unit"
              label-for="form-unit-input">
              <b-form-input
                id="form-unit-input"
                type="text"
                v-model="addItemForm.unit"
                required
                placeholder="Enter Unit">
              </b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
          </b-form>
        </b-modal>

        <template>
          <div>
            <b-table striped hover :fields="fields" :items="items" responsive="sm">
              <!-- A virtual column -->
              <template #cell(id)="data">
                {{ data.index + 1 }}
              </template>

              <!-- A custom formatted column -->
              <template #cell(item_name)="data">
                {{ data.item.item_name }}
              </template>

              <!-- A virtual composite column -->
              <template #cell(quantity_unit)="data">
                {{ data.item.quantity }} {{ data.item.unit }}
              </template>

              <template #cell(actions)="data">
                <item-action v-bind:item="data.item"></item-action>
              </template>
            </b-table>
          </div>
        </template>
      </b-container>
    </div>

  <script src="app.js"></script>
</body>
</html>
